<mat-toolbar color="primary" class="top-navbar">
    <span style="color: black; font-size: 2.7vh;">Enterprise View</span>
</mat-toolbar>
<div>
    <div>
        <span style="display: flex; justify-content: space-between; margin-top: 1vh; align-items: center;">
            <span style="margin-left: 1vw; margin-bottom: 1vh; font-size: 2.5vh;">Enterprise Name</span>
            <span style="margin-right: 1vw; margin-bottom: 0.1vw; font-size: 1.5vh;">last updated [time]</span>
        </span>
        
    </div>
    <div class="repo-master">
        <div class="repo-left">
            <mat-card style="height: 50vh;">
                <mat-card-title class="card-title">Enterprise Highlights</mat-card-title>
            </mat-card>
        </div>
        
        <div class="repo-right">
            <mat-card style="margin-bottom: 1vh; height: 10vh;">
                <mat-card-title class="card-title">Compliance Statistics</mat-card-title>
            </mat-card>
            <mat-card style="height: 35.5vh;">
                <mat-card-title class="card-title">Compliance Trend</mat-card-title>
            </mat-card>
        </div>
    </div>
    
</div>