.side-nav {
    width: 16vw;
    background-color: #3f51b5;
}

.toggle-button {
    position: fixed;
    bottom: 2vh;
    margin: 2vw;
    background-color: #3f51b5;
    color: white;
}

.menu-button {
    width: 100%;
    color: white;
    font-size: 2vh;
    text-align: left;
    padding: 1vh;
}

.button-active {
    background-color: #3949ab;
}