<mat-sidenav-container>
  <mat-sidenav mode="side" opened #sidenav class="side-nav" [fixedInViewport]="true">
    <span><h2>iComply</h2></span>
    <button mat-button class="menu-button" routerLink="/dashboard" routerLinkActive="button-active">
      <mat-icon style="margin: 7px;">dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button" routerLink="/enterprise" routerLinkActive="button-active">
      <mat-icon style="margin: 7px;">explicit</mat-icon>
      <span>Enterprise</span>
    </button>
    <button mat-button class="menu-button" routerLink="/organisation" routerLinkActive="button-active">
      <mat-icon style="margin: 7px;">work</mat-icon>
      <span>Organisation</span>
    </button>
    <button mat-button class="menu-button" routerLink="/repository" routerLinkActive="button-active">
      <mat-icon style="margin: 7px;">code</mat-icon>
      <span>Repository</span>
    </button>
    <button mat-button class="menu-button" routerLink="/settings" routerLinkActive="button-active">
      <mat-icon style="margin: 7px;">settings</mat-icon>
      <span>Settings</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: #f5f5f5; padding-bottom: 2vh;">
    <router-outlet></router-outlet>
    <button mat-mini-fab class="toggle-button" (click)="sidenav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>