<mat-toolbar color="primary" class="top-navbar">
    <span style="color: black; font-size: 2.7vh;">Repository View</span>
</mat-toolbar>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title style="font-size: 2vh;">
                Filter
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <form [formGroup]="filterForm">
                Organisation:
                <mat-form-field>
                    <mat-label>Select Organisation</mat-label>
                    <mat-select [(value)]="temp_selectedOrg" (selectionChange)="onOrgSelectionChange($event)"
                        formControlName="orgName_field">
                        <mat-option *ngFor="let org of orgList" value={{org.org_name}}>
                            {{ org.org_name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                Repository:
                <mat-form-field>
                    <mat-label>Select Repository</mat-label>
                    <mat-select [(value)]="selectedRepo" (selectionChange)="onRepoSelectionChange($event)"
                        formControlName="repoName_field">
                        <mat-option *ngFor="let repo of repoList" value={{repo.repo_name}}>
                            {{ repo.repo_name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
    </mat-expansion-panel>
</mat-accordion>
<div>
    <div>
        <span style="display: flex; justify-content: space-between; margin-top: 1vh; align-items: center;">
            <span style="margin-left: 1vw; margin-bottom: 1vh; font-size: 2.5vh; margin-top: 1.5vh;"
                *ngIf="selectedOrg !== null || selectedRepo !== null">{{ selectedOrg }} / {{ selectedRepo }}</span>
            <span style="margin-right: 1vw; margin-bottom: 0.1vw; font-size: 1.5vh;"
                *ngIf="selectedOrg !== null && selectedRepo !== null">Last updated on {{
                selectedRepo_data.last_updated.date }} at {{ selectedRepo_data.last_updated.time }}</span>
        </span>

    </div>
    <div class="repo-master">
        <div class="repo-left">
            <!--When org and repo is selected-->
            <mat-card style="height: 50vh;" *ngIf="selectedOrg !== null && selectedRepo !== null">
                <mat-card-title class="card-title">Repo Highlights</mat-card-title>
                <mat-list>
                    <mat-list-item><b>Visibility: {{ selectedRepo_data.visibility }}</b></mat-list-item>
                    <mat-list-item><b>Workflows: {{ selectedRepo_data.workflows }}</b></mat-list-item>
                    <mat-list-item><b>Secrets Stats:</b></mat-list-item>
                    <mat-list-item>
                        <div>
                            <mat-list style="margin-top: 10vh;">
                                <mat-list-item>Environment Secrets: {{selectedRepo_data.env_secrets}}</mat-list-item>
                                <mat-list-item>Repository Secrets: {{selectedRepo_data.repo_secrets}}</mat-list-item>
                                <mat-list-item>Organisation Secrets: {{selectedRepo_data.org_secrets}}</mat-list-item>
                            </mat-list>
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card>
            <!--When org and repo is not selected-->
            <mat-card style="height: 50vh;" *ngIf="selectedOrg === null || selectedRepo === null">
                <mat-card-title class="card-title">Repo Highlights</mat-card-title>
                <div>
                    <h3 style="font-size: 2vh; text-align:center; padding-top: 3vh; color:rgba(0, 0, 0, 0.4)">No data to
                        display</h3>
                </div>
            </mat-card>
        </div>

        <div class="repo-right">
            <!--When org and repo is not selected-->
            <mat-card style="margin-bottom: 1vh; height: 10vh;" *ngIf="selectedOrg === null || selectedRepo === null">
                <mat-card-title class="card-title">Non-Compliance Statistics</mat-card-title>
                <div>
                    <h3 style="font-size: 2vh; text-align:center; padding-top: 2vh; color:rgba(0, 0, 0, 0.4)">No data to
                        display</h3>
                </div>
            </mat-card>
            <!--When org and repo is selected-->
            <mat-card style="margin-bottom: 1vh; height: 10vh;" *ngIf="selectedOrg !== null && selectedRepo !== null">
                <mat-card-title class="card-title">Non-Compliance Statistics</mat-card-title>
                <!-- <div style="display: block; margin: 2vh;">
                    <canvas id="myStat_chart" class="doughnut-graph"></canvas>
                </div> -->
                <div style="text-align: center;">
                    <div style="display: inline-block; font-size: 4.5vh;">
                        {{ selectedRepo_data.incomplient_settings }}/{{ selectedRepo_data.total_settings }}
                    </div>
                    <div>
                        settings out of compliance
                    </div>
                </div>
            </mat-card>
            <!--When org and repo is selected-->
            <mat-card style="height: 34.7vh;" *ngIf="selectedOrg !== null && selectedRepo !== null">
                <mat-card-title class="card-title">Compliance Trend</mat-card-title>
                <div style="display: block">
                    <canvas id="myChart" class="trend-graph"></canvas>
                </div>
            </mat-card>
            <!--When org and repo is not selected-->
            <mat-card style="height: 34.7vh;" *ngIf="selectedOrg === null || selectedRepo === null">
                <mat-card-title class="card-title">Compliance Trend</mat-card-title>
                <div style="display: block">
                    <h3 style="font-size: 2vh; text-align:center; padding-top: 2vh; color:rgba(0, 0, 0, 0.4)">No data to
                        display</h3>
                </div>
            </mat-card>
        </div>
        
    </div>
    <div class="repo-footer" style="margin: 1vh;">
        <!--When org and repo is selected-->
        <mat-card style="height: 34.7vh;" *ngIf="selectedOrg !== null && selectedRepo !== null">
            <mat-card-title class="card-title">Event Histogram</mat-card-title>
            <div>
                <canvas id="event_bargraph" class="trend-graph"></canvas>
            </div>
        </mat-card>
        <!--When org and repo is not selected-->
        <mat-card style="height: 34.7vh;" *ngIf="selectedOrg === null || selectedRepo === null">
            <mat-card-title class="card-title">Event Histogram</mat-card-title>
            <div>
                <h3 style="font-size: 2vh; text-align:center; padding-top: 2vh; color:rgba(0, 0, 0, 0.4)">No data to
                    display</h3>
            </div>
        </mat-card>
    </div>
</div>