<mat-toolbar color="primary" class="top-navbar">
    <span style="color: black; font-size: 2.7vh;">Settings</span>
</mat-toolbar>
<div>
    <mat-tab-group>
        <mat-tab label="Policy Settings">
            <h2 style="margin: 1vh 2vh;">Policy Settings</h2>
        </mat-tab>
        <mat-tab label="Alerts & Notification">
            <h2 style="margin: 1vh;">Alerts & Notifications Settings</h2>
        </mat-tab>
        <mat-tab label="Schedular">
            <h2 style="margin: 1vh;">Schedular Settings</h2>
        </mat-tab>
      </mat-tab-group>
</div>